@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
/* *{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #0082e6;
  height: 55px;
  width: 100%;
  position: -webkit-sticky; ///
  position: sticky;  ///
  top: 0;  ///
} */

/* label.logo{
  color: white;
  font-size: 30px;
  line-height: 55px;
  padding: 0 35px;
  font-weight: bold; ///
  font-family: 'Amita', cursive;
} */
/* nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 55px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 55px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }

}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
    top: 55px;

  }

} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
/* section{
    padding: 100px 0;
} */
.max-width{
	max-width: 100%;
    padding: 0 30px;
    margin: auto;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 6px 0;
    background: crimson;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 6px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 25px;
	font-weight: 600;
    font-family: 'Gotu', sans-serif;

}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 20px;
  padding: 7px 10px;
    transition: color 0.3s ease;
}
.navbar .menu{
  background-color: #dc143c;
}
.navbar .menu li a:hover{
    color: #fff;
    padding: 7px 10px;
    border-radius: 9px;
    background: #d41a40;
}
.navbar .menu li .active {
  color: #fff;
  padding: 7px 10px;
  border-radius: 9px;
  background: #d41a40;
}
/* .navbar.sticky .menu li a:hover{
    color: #fff;
} */

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* responsive media query start */

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }
    .navbar .menu li a:hover {
      background: #1d1c1c;
  }
   .navbar .menu li .active {
      background: #1d1c1c;
  }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
}

@media (max-width: 500px) {
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .ic2 {
      margin-top: 21px;
  }
  #form{
    height: 580px;
  }
}
 
/*Section 
-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Header/logo Title */
.header {
	padding: 160px 0 50px 0;
	text-align: center;
	background: url(../img/01.jpeg)no-repeat center bottom/cover;
	color:white;
  }

  .header img {
	  height: 90px;
	  padding: 2px;
  }

  .header p{
	  padding-top: 3px;
	  font-family: 'Gotu', sans-serif;
	  font-size: 1.2rem;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
	font-size: 40px;
	font-weight: 100;
	font-family: 'Amita', cursive;
  }

  @media (max-width: 1420px){
	.header {
		padding: 140px 0 50px 0;
		text-align: center;
		background: url(/img/01.jpeg)no-repeat center bottom/cover;
		color:white;
	  }
	  .header img {
		height: 82px;
		padding: 2px;
	}
	.header h1 {
		font-size: 35px;
		font-weight: 100;
		font-family: 'Amita', cursive;
	  }
  
  }
  

  @media (max-width: 1220px){
	.header {
		padding: 90px 80px 80px 80px;
		text-align: center;
		background: url(/img/01.jpeg)no-repeat center bottom/cover;
		color:white;
	  }

	.header img {
	  height: 80px;
	  padding: 2px;
	}

  	.header h1 {
	  font-size: 30px;
	  font-weight: 100;
	  font-family: 'Amita', cursive;
	}
  }
  

  @media (max-width: 1120px){
	.header {
		padding: 115px 0 20px 0;
		text-align: center;
		background: url(/img/01.jpeg)no-repeat center bottom/cover;
		color:white;
	  }
	
	.header img {
	  height: 78px;
	  padding: 2px;
	}
  	.header h1 {
	  font-size: 23px;
	  font-weight: 100;
	  font-family: 'Amita', cursive;
	}
	.header p{
		padding-top: 3px;
		font-family: 'Gotu', sans-serif;
		font-size: 1rem;
	}
  }
  @media (max-width: 930px){
	.header {
		padding: 100px ​0 15px ;
		text-align: center;
		background: url(/img/01.jpeg)no-repeat center bottom/cover;
		color:white;
	  }
	
	.header img {
	  height: 70px;
	  padding: 2px;
	}
  	.header h1 {
	  font-size: 22px;
	  font-weight: 100;
	  font-family: 'Amita', cursive;
	}
	.header p{
		padding-top: 3px;
		font-family: 'Gotu', sans-serif;
		font-size: 12px;
	}
  }

  @media (max-width: 855px ){
    .header {
      padding: 105px 0 8px 0 ;
      text-align: center;
      background: url(/img/01.jpeg)no-repeat center bottom/cover;
      color:white;
      }
    }
  @media (max-width: 570px ){
    .header {
      padding: 80px 0 10px 0;
      text-align: center;
      background: url(/img/01.jpeg)no-repeat center bottom/cover;
      color:white;
      }
    }
  @media (max-width: 344px ){
    .header {
      padding: 83px 0 15px 0;
      text-align: center;
      background: url(/img/01.jpeg)no-repeat center bottom/cover;
      color:white;
      }
    }

/* Form 
-------------------------------------------------------------------------------------------------------------------------------------------------------*/
#form {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 600px;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 450px;
  box-shadow: 0 0 1.3em #9a9898;
  transition: transform .5s;
}
.form:hover{
  -ms-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  transform: scale(1.02);
  box-shadow: rgb(255 254 254) 0px 0px 1.3em;
}

.title {
  color: #eee;
  font-family: "gotu";
  font-size: 36px;
  font-weight: 600;
  /* margin-top: 30px; */
  text-align: center;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}

.ic2 {
  margin-top: 30px;
}
.ic3 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
}
.name{
  width: 110px;
}
.cut-short {
  width: 109px;
}
.cut-long {
  width: 80px;
}
.cut-num{
  width: 120px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

@media (max-width: 530px) {
  .form {
    height: 500px;
    padding: 20px;
    width: 270px;
	}
}

/* footer 
-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* footer{
	position: fixed;
	bottom: 0;
} */

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 15%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {
  
  .footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
    display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
  
	.footer-distributed .footer-center i{
    margin-left: 0;
	}
  
}
@media (max-width: 280px) {
  .footer-center p a{
    font-size: 12px;
  }
}
